// ======================================
//  Variables
// ======================================
// Colors
$white: #fff;
$color-primary: #2DA9FF; // Bright Blue
$color-secondary: #0A75BE; //Dark Blue

// Fonts
$font-stack-primary:'Inconsolata', monospace;

//media queries
$sm-max: 600.99px;
$md-min: 601px;
$md-max: 990.99px;
$lg-min: 991px;

// ======================================
//  Base Styles
// ======================================

* {
    box-sizing: border-box;
}
  
body {
    font-size: 1.25rem;
    font-family: $font-stack-primary;
    margin: 0;
    padding:0;
    min-height: 100vh;
    margin-top: -20px;
}

// ======================================
//  Navigation
// ======================================
nav{
    width:100%;
    background: $color-primary;
    height: 64px;
}
#main-nav{
    width:50%;
}
#main-nav a {
    color: #f6f7f8;
    background: $color-primary;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
#main-nav a:hover {
    background: $color-secondary;
  }
#main-nav ul {
    list-style: none;
    display: flex;
    padding:0;
} 
#main-nav li {
   width: 100%;
    text-align: center;
    position: relative;
}
  .submenu li {
    display: none;
}  
.borderRight{
    border-right: 1px solid white;
}

    .icon {
    display: none;
}
// ======================================
//  Media Queries
// ======================================

//MEDIUM
@media only screen and (min-width: $md-min) and (max-width: $md-max){
    #main-nav{
        width:100vw;

    }
    #main-nav li{
        width:33.33vw;
        &:hover{ 
            .submenu{
                display:flex;
                margin-left:-33.33vw;
                border-top: 1px solid white;
            }
            .submenu > li{
                display:flex;
                width:100vw; 
                a{
                    width:25vw;
                }
            }
        }
    }
}
#mainMenu{
    display:none;
}


//SMALL
@media(max-width: $sm-max){
    #main-nav{
          display:block;
          position: relative;
    }
    #mainNav{
        display:block;
        position: relative;
  }
    .fa-bars, .fa-times{
        position:absolute;
       left:0;
        margin:0px 5px;
    }
    #menuBar{
        padding-top:5%;
    }
    #mainMenu{
        // display:none;
        margin-top:0;
    #menu{
        margin-right:100px;
    }
    }
    #main-nav .icon {
        display: block;
        width:100vw;
        text-align: center;
        margin-bottom:0;
        
    }

    #main-nav ul{
        display:block;
        width:100vw;
    }
    .submenu li{
        display:block;
    }
    .borderRight{
        border-right:none;
        border-bottom: 1px solid white;
    }
    .topNav{
        display:none;
    }
}

//LARGE
@media(min-width: $lg-min){
#main-nav li:hover .submenu > li {
    display: flex;
    flex-direction: column;
    top: 0px;
    }
    .submenu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}