@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'sizing';

@for $i from 1 through 12 {
    .col-sm-#{$i}{
        @include sizer(small);
        flex: $i 100px;
        // float: left;
        // width:percentage(($i/12))
    }
    .col-md-#{$i}{
        @include sizer(medium);
        flex: $i 100px;
    }
    .col-lg-#{$i}{
        @include sizer(large);
        flex: $i 100px;
    }
}
$primary : rgb(184, 184, 184);
$theme-colors:(
    "primary": $primary,
);
.row{
    display:flex;
    flex-wrap:wrap;
}
.align-right{
    text-align: right;
}
.save-btn{
    @include sizer(small){
        width: 100%;}
}