/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.main-header,
	.main-nav, .row, .col {
		display: flex;
	}
	.main-header {
		flex-direction: column;
		align-items: center;
	}
	.col{
		flex:1;
		flex-direction:column;
	}
	.button{
		margin-top:auto;
		align-self: flex-start;
	}
	/* .row{
		flex-wrap:wrap;
	}
	.secondary{
		order: -1;
	} */
}

@media (min-width: 1025px) {
	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}
	.col{
		flex-basis:0;
	}
	.primary{
		flex:1.4;
	}
}